<?xml version="1.0"?>
<config>
    <modules>
        <Chippin_ChippinPayment>
            <version>0.1.0</version>
        </Chippin_ChippinPayment>
    </modules>
    <frontend>
        <routers>
            <chippinpayment>
                <use>standard</use>
                <args>
                    <module>Chippin_ChippinPayment</module>
                    <frontName>chippinpayment</frontName>
                </args>
            </chippinpayment>
        </routers>
		<layout>
		    <updates>
			    <chippinpayment>
			        <file>chippinpayment.xml</file>
			    </chippinpayment>
		    </updates>
		</layout>
    </frontend>
    <global>
        <sales>
	        <order>
	            <statuses>
		            <chippin translate="label"><label>Chippin</label></chippin>
	            </statuses>
	            <states>
		            <pending_payment>
		                <statuses>
			                <chippin />
		                </statuses>
		            </pending_payment>
	            </states>
	        </order>
        </sales>
        <models>
            <chippinpayment>
                <class>Chippin_ChippinPayment_Model</class>
            </chippinpayment>
        </models>
        <helpers>
            <chippinpayment>
                <class>Chippin_ChippinPayment_Helper</class>
            </chippinpayment>
        </helpers>
	    <blocks>
	        <chippinpayment>
		        <class>Chippin_ChippinPayment_Block</class>
	        </chippinpayment>
	    </blocks>
        <payment>
            <groups>
                <chippinpayment>ChippinPayment</chippinpayment>
            </groups>
        </payment>
    </global>
    <default>
        <payment>
            <chippinpayment>
                <testing_endpoint>https://chippin.co.uk/sandbox/new</testing_endpoint>
                <live_endpoint>https://chippin.co.uk/new</live_endpoint>
                <active>0</active>
                <model>chippinpayment/payment_method</model>
            </chippinpayment>
        </payment>
    </default>
</config>
