<?xml version="1.0"?>
<config>
    <modules>
        <Chippin_ChippinPayment>
            <version>0.1.6</version>
        </Chippin_ChippinPayment>
    </modules>
    <frontend>
        <secure_url>
            <chippin_standard>/chippin/standard</chippin_standard>
            <chippin_checkout>/chippin/checkout</chippin_checkout>
        </secure_url>
        <routers>
            <chippinpayment>
                <use>standard</use>
                <args>
                    <module>Chippin_ChippinPayment</module>
                    <frontName>chippin</frontName>
                </args>
            </chippinpayment>
        </routers>
		<layout>
		    <updates>
			    <chippinpayment>
			        <file>chippin.xml</file>
			    </chippinpayment>
		    </updates>
        </layout>
    </frontend>
    <global>
        <events>
            <resource_get_tablename>
                <observers>
                    <chippinpayment>
                        <class>chippinpayment/autoloader</class>
                        <method>register</method>
                    </chippinpayment>
                </observers>
            </resource_get_tablename>
        </events>
        <models>
            <chippinpayment>
                <class>Chippin_ChippinPayment_Model</class>
            </chippinpayment>
        </models>
        <resources>
            <chippinpayment_setup>
                <setup>
                    <module>Chippin_ChippinPayment</module>
                    <class>Chippin_ChippinPayment_Model_Resource_Setup</class>
                </setup>
            </chippinpayment_setup>
        </resources>
        <helpers>
            <chippinpayment>
                <class>Chippin_ChippinPayment_Helper</class>
            </chippinpayment>
        </helpers>
	    <blocks>
	        <chippinpayment>
		        <class>Chippin_ChippinPayment_Block</class>
	        </chippinpayment>
	    </blocks>
        <payment>
            <groups>
                <chippinpayment>ChippinPayment</chippinpayment>
            </groups>
        </payment>
    </global>
    <default>
        <payment>
            <chippinpayment>
                <active>0</active>
                <model>chippinpayment/payment_method</model>
                <sandbox>1</sandbox>
                <sandbox_endpoint>https://chippin.co.uk/sandbox/new</sandbox_endpoint>
                <live_endpoint>https://chippin.co.uk/new</live_endpoint>
                <order_status>chippin_new</order_status>
                <title>Pay by Chippin to share the cost with others</title>
                <description>You can share the cost of this purchase with others if you choose to pay by Chippin.</description>
                <duration>48</duration>
                <grace_period>48</grace_period>
            </chippinpayment>
        </payment>
    </default>
</config>
